body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

/*estilos header*/
/*  
.logo {
    max-width: 200px;
    max-height: auto;

}
*/
h3 {
  padding-top: 20px;
  color: orange;
}
a {
  text-decoration: none;
  color: white;
}

.header .container-fluid {
  background: #1e1e1e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 4px solid orange;
}

.d-flex {
  width: 700px;
  /*  margin: 15px 150px 0 50px */
}

.d-flex .btn-btn-outline-success {
  color: white;
  background-color: blue;
  border-radius: 8px;
  border-style: none;
}

.menu .botao .buttonlogin {
  color: white;
  background-color: blue;
  border-radius: 8px;
  padding: 8px 12px;
  transition: 0.3s;
}

.menu {
  display: flex;
}

.menu .navegaçao {
  display: flex;
}

.menu li {
  margin-left: 10px;
  margin-top: 15px;
}

.menu .navegaçao :hover {
  color: #8a8aff;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

/*estilos header*/
